		.dropzone {
			padding: 35px;
			
			display: inline-block;
			font-style: 10pt;
			width: 60px; 
			margin-left: 10px;
			margin-top: 10px;

			/*display: inline;*/
		}

		.circleBase {
    		border-radius: 80%;

		}

		.highlight{

			background-color: #cfc;
			border-style: inset;
			border-color: #efe;
		}

		.padQ{
			background-color: #FF6347;
			border-style: outset;
			border-color: #FF6347;
		}

		.padE{
			background-color: #9ACD32;
			border-style: outset;
			border-color: #9ACD32;
		}

		.padT{
			background-color: #FFD700;	
			border-style: outset;
			border-color: #FFD700;

		}

		.padU{
			background-color: #4169E1;
			border-style: outset;
			border-color: #4169E1;
		}


		/*.mused-button{*/
			/*background-color: #ccc;*/
		/*}*/

		.keyboard{
			height: 200px;
		}

		.triggered.mused-button{
			background-color: #222222;
		}

		.dropbtn {
			background-color: #424242;
			color: white;
			padding: 16px;
			font-size: 16px;
			border: none;
			cursor: pointer;
		}

		.dropdown {
			position: relative;
			display: inline-block;
		}

		.dropdown-content {
			display: none;
			position: absolute;
			background-color: #f9f9f9;
			min-width: 160px;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		}

		.dropdown-content a {
			color: black;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
		}

		.dropdown-content a:hover {background-color: #212121}

		.dropdown:hover .dropdown-content {
			display: block;
		}

		.dropdown:hover .dropbtn {
			background-color: #212121;
		}